@media only screen and (max-device-width:680px){
    .cesiumContainer{
        height:250px
    }
}

.icon1 {
    width: 343px; height: 343px;
    background-image: url('css_sprites.png') -10px -10px;
}
