@media only screen and (max-device-width:680px){
    .cesiumContainer{
        height:250px
    }
}

.icon1{
    background:url("../../icons//logo.png") no-repeat;
    width:100%;
    height:100%;
}

